* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    background-color: #1D1D1D;
}
main {
    width: 100%;
}

h1, p, h2, li, a, footer {
    font-family: 'Courier New', Courier, monospace;
}

#name {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 450%;
    width: 48%;
    float: left;
    padding-left: 2%;
    margin: 32px 0 32px 0;
}
nav {
    display: block;
    width: 50%;
    float: right;
    padding: 23px 0 22px 0;
    margin: 32px 0 32px 0;
}
ul {
    list-style-type: none;
}
.navi {
    float: right;
    padding: 0 4% 0 2%;
    color: rgb(133, 133, 133);
    font-size: 200%;
}
.active {
    color: rgb(255, 255, 255);
}
.navi:hover {
    color: rgb(50, 255, 50);
}
.navi:active {
    color: rgb(127, 233, 127);
}

#endh {
    width: 96%;
    margin: auto;
    border: none;
    height: 2px;
    color: #FFFFFF; /* old IE */
    background-color: #FFFFFF; /* Modern Browsers */
    border-radius: 10px;
    margin-bottom: 32px;
}

h1, h2, p {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: rgb(0, 217, 255);
}
a:hover {
    color: rgb(176, 115, 255);
}
a:active {
    color: rgb(136, 177, 255);
}

footer {
    width: 100%;
    color: rgb(155, 155, 155);
    text-align: center;
    font-size: 175%;
    margin-bottom: 20px;
}